/***************************
 Color scheme:
  #2B71FF
  #09B031
  #5DC91B
  #2A7897
  #44433D
***************************/
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: hsl(30, 100%, 100%);
    color: hsl(51, 5%, 25%);
}
* {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
h1,h2,h3,h4{
    font-family: 'Roboto Slab', 'Times', 'Times New Roman', serif;
}
/*color changes*/
.nav-green {
    background-color: hsl(91, 71%, 41%);
}
.btn-blue {
    background-color: hsl(205, 61%, 55%);
    transition: fill 0.2s;
}
.btn-blue:hover {
    background-color: hsl(204,52%,51%);
}
.btn-blue:active {
    background-color: hsl(202,59%,42%);
}
.jumbotron-title {
    background-image: url("https://unsplash.it/600/600?image=987");
    background-size: cover;
    display: table-cell;
    height: 94vh;
    width: 100vw;
    vertical-align: middle;
}
.jumbotron-light {
    background-color: hsl(37, 95%, 100%);
    color: hsl(154, 100%, 28%);
}
.jumbotron-dark {
    color: hsl(34, 100%, 100%);
    background-color: hsl(155, 100%, 29%);
}
.container-title {
    background-color: hsl(152, 100%, 27%);
    color: hsl(34, 100%, 100%);
    box-shadow: 0 2px 6px rgba(126, 132, 122, 0.43);
}
/*footer and footer position*/
.wrap {
    min-height: 94vh;
    height: auto !important;
    margin: 0 auto -12rem;
}
footer,
.push{
    height: 12rem;
}
footer {
    line-height: 3rem;
    background-color: hsl(57, 3%, 28%);
    color: hsl(36, 100%, 100%);
}
/*icons*/
.iconic {
    fill: hsl(35, 100%, 100%);
    transition: fill 0.2s;
}
.iconic:hover {
  fill: hsl(37, 100%, 90%);
}
.iconic:active {
  fill: hsl(39, 100%, 85%);
}
@media (min-width: 544px) {
    /*bootstrap 4 card-columns bug fix*/
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

@media (min-width: 768px) {
    /*bootstrap 4 card-columns bug fix*/
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    
    .jumbotron-title {
        background-image: url("https://unsplash.it/800/800?image=987");
    }
}

@media (min-width: 992px) {
    /*bootstrap 4 card-columns bug fix*/
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
    
    .jumbotron-title {
        background-image: url("https://unsplash.it/1500/1000?image=987");
    }
}